#Order deny,allow
#allow from 192.168. 172.16.30. all
#deny from all

# debug mode
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

# work mode
#ErrorDocument 404 /404.php
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

# for working uploadify script on fucking SpaceWeb.ru
#SecFilterEngine Off

#AddDefaultCharset WINDOWS-1251
#AddCharset WINDOWS-1251 .php
#AddType 'text/html; charset=WINDOWS-1251' php


<IfModule mod_charset.c> 
  CharsetRecodeMultipartForms off 
</IfModule> 

RewriteEngine On
#Redirect /google.html http://www.google.ru
#RewriteRule ^(.*)$ article.php?lang=ru&article=country/legislation/
#mod vg on
RewriteRule ^\..*$ /index.php

RewriteRule ^(.[a-z])/vgbase/scan/(.*)$ /mod/vg/vg_add_fleet.php?lang=$1&$2
RewriteRule ^(.[a-z])/vgbase/(.*)$ /vgbase.php?lang=$1&id=$2
#mod vg off
RewriteRule ^(.[a-z])/employers/(.*)$ /employers.php?lang=$1
RewriteRule ^(.[a-z])/events/(.*)/(.*)/page-(.*).html$ /events.php?lang=$1&event_date=$2&show=$3&page=$4
RewriteRule ^(.[a-z])/events/(.*)/(.*)/$ /events.php?lang=$1&event_date=$2&show=$3
RewriteRule ^(.[a-z])/events/(.*)$ /events.php?lang=$1&event_date=$2
RewriteRule ^(.[a-z])/events/$ /events.php?lang=$1
RewriteRule ^(.[a-z])/news/(.*)$ /news.php?lang=$1&menuname=news&source=1&id=$2
RewriteRule ^(.[a-z])/massmedia/(.*)$ /news.php?lang=$1&menuname=massmedia&source=2&id=$2
RewriteRule ^(.[a-z])/jkhnews/(.*)$ /news.php?lang=$1&menuname=jkhnews&source=2&id=$2
RewriteRule ^(.[a-z])/leaders/(.*)$ /news.php?lang=$1&menuname=leaders&source=3&id=$2
RewriteRule ^(.[a-z])/mediareview/(.*)$ /news.php?lang=$1&menuname=mediareview&source=3&id=$2
RewriteRule ^(.[a-z])/gallery/(.*)$ /gallery.php?id=$2
RewriteRule ^(.[a-z])/electro/(.*)$ /electrocatalog.php?id=$2
#RewriteRule ^rm(.*)$ /rm/
RewriteRule ^(.[a-z])/(.*)$ /article.php?lang=$1&id=$2
#RewriteRule ^ru(.*)$ /test.php?lang=ru&article=$1
